#file {
	display: none;
}

#wrap {
	width: 100%;
	margin-left: auto;
	padding-bottom: 80px;
	padding-top: 100px;
}
  
#wrap_ {
	width: 100%;
	height: auto;
	display: flex;
}

#rowList {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

#title{
	width: 247px;
	height: auto;
	float: left;
	font-size: large;
	padding-left: 40px;
	padding-top: 6px;
	margin-bottom: 60px;
}

#content{
	width: 68%;
	height: 60px;
	float: left;
	font-size: large;
	padding-top: 18px;
}

.c1{
	width: 100%;
	height: auto;
	float: left;
	font-size: large;
	padding-top: 18px;
}

#button {
	width: 940px;
	float: left;
	margin-bottom: 80px;
	padding-top: 80px;
	text-align: center;
	font-size: large;
}

p.title{
	line-height: 1;
	
}

td {
	vertical-align: bottom;
	border: 0px solid #444444;
	padding: 20px 0px 0px 0px;
}

td.a {
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

td.b {
	vertical-align: top;
}

td.title {
	border-bottom: 1px solid #D5D5D5;
}

.hide, .hide:focus {
	border: none;
	outline: none;
}

::placeholder {
	color: #BDBDBD;
}

table {
	border: 0px solid #444444;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
}