<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Youngwoo Kim</title>

<!-- Bootstrap core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link
	href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i"
	rel="stylesheet">
<link href="fontawesome-free2/all.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
		id="sideNav">
		<a class="navbar-brand js-scroll-trigger" href="#page-top"> <span
			class="d-block d-lg-none">Kim Youngwoo</span> <span
			class="d-none d-lg-block"> <img
				class="img-fluid img-profile rounded-circle mx-auto mb-2"
				src="img/profile.jpg" alt="">
		</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link js-scroll-trigger"
					href="#about">About</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger"
					href="#experience">Experience</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger"
					href="#education">Education</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger"
					href="#skills">Skills</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger"
					href="#interests">Interests</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger"
					href="#awards">Project</a></li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid p-0">

		<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
			<div class="my-auto">
				<h1 class="mb-0">
					Youngwoo <span class="text-primary">Kim</span>
				</h1>
				<div class="subheading mb-5">
					010 - 8248 - 5508 / <a href="mailto:hiin124@naver.com">hiin124@naver.com</a>
				</div>
				<p class="lead mb-5">자신의 서비스 플랫폼을 만들고 싶은 개발자</p>
				<p>
					Airbnb , Uber , LinkedIn과 같은 사용자를 사용자를 편리하게 하는 서비스를 개발하기 위해서 개발을
					시작했습니다. <br> JAVA - Spring, Spring boot, JPA , JSP <br>
					개발 방법론 , 새로운 언어를 배우는 것에 관심이 많습니다.
				</p>
				<div class="social-icons">
					<a href="#"><img src="img/linkedin.png" width="56px"
						height="64px"> </a> <a href="#"> <img src="img/github.png"
						width="56px" height="64px">
					</a> <a href="#"> <img src="img/facebook.png" width="56px"
						height="64px">
					</a>
				</div>
			</div>
		</section>

		<hr class="m-0">

		<section class="resume-section p-3 p-lg-5 d-flex flex-column"
			id="experience">
			<div class="my-auto">
				<h2 class="mb-5">Experience</h2>
				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">연구원 - 웹 개발</h3>
						<div class="subheading mb-3">Archys</div>
						<p>
							R&D 부서의 Web 담당 연구원 . 외부 SI 프로젝트의 Web - Front/Back end 모두 담당했습니다.
							<br> 주 업무 1. 새로운 새로운 개발할 트래픽 분석 솔루션을 위해 유사 솔루션 조사 및 발표 <br>
							주 업무 2. 새로운 솔루션 UI 설계 <br> 주 업무 3. 외부 사업 프로젝트 Web 개발
						</p>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2018 . 01 - 2018 . 07</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">웹 개발자</h3>
						<div class="subheading mb-3">Anylogic</div>
						<p>
							SI 파견 업체로서 SI파견-웹 개발 담당했습니다. <br> 주 업무 1. 개발할 업무 파악 <br>
							주 업무 2. SI - Web 개발 <br> 주 업무 3. 개발 부분에 대한 문서 작성
						</p>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2017 . 04 - 2017 . 12</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">수강생</h3>
						<div class="subheading mb-3">ICN Group</div>
						<p>JAVA - Spring framework 기반의 웹 개발자 양성 과정 수료.</p>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2016 . 09 - 2017 . 02</span>
					</div>
				</div>
			</div>
		</section>

		<hr class="m-0">

		<section class="resume-section p-3 p-lg-5 d-flex flex-column"
			id="education">
			<div class="my-auto">
				<h2 class="mb-5">Education</h2>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">서경대학교</h3>
						<div class="subheading mb-3">학사</div>
						<div>컴퓨터 공학과</div>
						<p>GPA: 3.23</p>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2011 . 03 - 2017 . 03</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">환일고등학교</h3>
						<div class="subheading mb-3">이과</div>
						<!--       
						        <p>GPA: 3.56</p> -->
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2007 . 02 - 2010 . 02</span>
					</div>
				</div>

			</div>
		</section>

		<hr class="m-0">

		<section class="resume-section p-3 p-lg-5 d-flex flex-column"
			id="skills">
			<div class="my-auto">
				<h2 class="mb-5">Skills</h2>
				<div class="subheading mb-3">Programming Languages &amp; Tools</div>
				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">JAVA</h3>
						<div class="subheading mb-3">검색 없이 기본적인 프로그램 구현 가능 , OOP의 기초
							개념 , Thread , Memory, JVM 원리 이해 소켓 통신 구현 가능</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2015 - 2019</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Spring framework</h3>
						<div class="subheading mb-3">Spring 프레임워크가 제공하는 DI, AOP의개념을
							이해하여 재사용 가능한 클래스를 구현, MyBatis , JPA 사용 가능 , Spring MVC 패턴 이해</div>
						<div class="subheading mb-3">현업 프로젝트 경험 3회 , 개인 프로젝트 3회</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2015 - 2017</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Database</h3>
						<div class="subheading mb-3">Mysql/ CRUD 구현, JOIN문 이해 , 저장 프로시져 사용 가능, 인덱싱 개념 이해</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2015 - 2017</span>
					</div>
				</div>
				
				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Git/Github</h3>
						<div class="subheading mb-3">git 사용 5인 개발자 협업 경험 , Dev,Master로 개발</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2018 - 2019</span>
					</div>
				</div>
				
				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">AWS</h3>
						<div class="subheading mb-3">EC2-free티어 사용 경험 </div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2019 - 2019</span>
					</div>
				</div>

			</div>
		</section>

		<hr class="m-0">

		<section class="resume-section p-3 p-lg-5 d-flex flex-column"
			id="interests">
			<div class="my-auto">
				<h2 class="mb-5">Interests</h2>
<!-- 				<p>프론트 엔드 프레임워크에 관심이 많습니다. (React , Vue 등등)</p> -->
<!-- 				<p>TDD(Test Driven Development) 방법론을 개인 프로젝트에 적용하고 있습니다.</p> -->
				<p>코드 리펙토링을 하여 클린코드를 작성하려고 노력합니다.</p>

			</div>
		</section>

		<hr class="m-0">

		<section class="resume-section p-3 p-lg-5 d-flex flex-column"
			id="awards">
			<div class="my-auto">
				<h2 class="mb-5">개인 개발 프로젝트</h2>
				<ul class="fa-ul mb-0">
					<li><i class="fa-li fa fa-trophy text-warning"></i>1<sup>st</sup></li>
					<p>여행 관련 정보를 공유하는 웹 플랫폼입니다.</p>
					<p>
						<a
							href="https://www.slideshare.net/ssuser45774a1/travel-planner-126112242">Travel
							Planner</a>
					</p>
					<li><i class="fa-li fa fa-trophy text-warning"></i> 2<sup>nd</sup>
					</li>
					<p>한국항공공사 Open API를 이용한 항공기 정보 검색 서비스 입니다.</p>
					<p>
						<a
							href="https://www.slideshare.net/ssuser45774a1/airport-statusservice">Airport
							Status Service</a>
					</p>
					<li><i class="fa-li fa fa-trophy text-warning"></i> 3<sup>rd</sup>
					</li>
					<p>네트워크 장비에서 발생하는 Traffic flow Data를 시각화 및 커스터마이징 한 프로젝트입니다. in
						SK Boardband</p>
					<p>
						<a
							href="https://www.slideshare.net/ssuser45774a1/flow-nms-profilo">Flow
							NMS</a>
					</p>
				</ul>
			</div>
		</section>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="jquery/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/resume.min.js"></script>

</body>

</html>
